html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  ::selection {
    background-color: #ffffff;
    color: #000000;
  }
}
a {
  color: white;
}
h1 {
  margin: 0;
  font-size: 800%;
}
table,
th,
td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
}
th,
td {
  background-color: rgba(255, 255, 255, 0.158);
  border: 1px solid #ddd;
  padding: 8px;
}

.sidebar-tabela {
  position: fixed;
  left: -400px;
  top: 0;
  width: 300px;
  height: 100%;
  transition: left 0.4s ease;
  padding: 20px;
  z-index: 1000;
}

.sidebar-tabela.aberta {
  left: 0;
}

.btn-toggle {
  position: absolute;
  right: -105px;
  top: 43%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  background: radial-gradient(rgb(255, 204, 184), transparent, transparent);
  border: none;
  border-radius: 100%;
  transition: all 0.5s ease;
}
.btn-toggle:hover{
    transform: scale(2); 
    filter: brightness(1.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}
body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out; /* Transição suave */
  height: 100vh;
  color: rgb(255, 255, 255);
  font-family: cursive;
  text-shadow: 5px 5px 5px rgb(0, 0, 0);
  padding: 1px;
}
a{
  transition: all 0.5s ease;
  text-decoration: none;
}

a:hover{
color: rgb(0, 0, 0);
transform: scale(2);
}

